@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,200&display=swap');

html {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    width: 100%;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #050719;

}

.bg {
    position: fixed;
    background-repeat: no-repeat;
    image-resolution: 1080px;
    top: 0;
    left: 0;
    opacity: 0.3;
    box-shadow: inset 0 0 200px black;
    z-index: -2;
}

.stars {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
.star {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.582);
    display: block;
    position: absolute;
    -webkit-animation: glow 15000ms linear infinite;
    animation: glow 15000ms linear infinite;
}

@-webkit-keyframes glow {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    50% {
        opacity: 0.9;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@keyframes glow {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    50% {
        opacity: 0.9;
        -webkit-transform: scale(0.9);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}

nav {
    background-color: #441e411c;
    display: inline-block;
    align-items: center;
    margin-right: 40px;
    width: 100%;
    height: 55px;
    z-index: 5;
}

.logo {
    margin: 0 auto;
    text-align: center;
    padding: 5px 25px;
    float: left;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.navList {
    display: inline;
    list-style: none;
    width: 50px; 
    height: 55px;
    margin-right: 10px;
}

.navList li {
    float: right;
    width: 60px;
    padding: 17px 20px;
}

.navList li:hover {
    background-color: rgba(47, 47, 47, 0.39);
    cursor: pointer;
}

p {
    height: 2000px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    width: 800px;
    padding: 10% 0 0 0;
}

/* div{
    font-size: 20px;
    padding: 60px 0px;
} */

footer {
    position: fixed;
    color: #fff;
    font-size: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}