@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,200&display=swap');

html {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.stars {
    position: fixed;
    top: 0;
    width: 100%;
    background: #050719;
    position: absolute;
    z-index: -1;
}
.star {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    position: absolute;
    -webkit-animation: glow 4000ms linear infinite;
    animation: glow 4000ms linear infinite;
}

@-webkit-keyframes glow {
    0% {
        opacity: 0.0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        opacity: 0.9;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}

@keyframes glow {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        opacity: 0.9;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
}

p {
    height: 2000px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    width: 800px;
    padding: 10% 0 0 0;
}

/* div{
    font-size: 20px;
    padding: 60px 0px;
} */

footer {
    position: fixed;
    color: #fff;
    font-size: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}